//Colors

$primary-color:#CFD11A;
$secundary-color:#A8BA28;
$alternative-color:#80A236;
$background-color:#2C0735;
$background-color-2:#3D0E61;
$acent-color:#30F2F2;
$acent-color-2:#6ea0c4;
$white:#eee;
$black:#111;