@use"../variables/varaibles" as *;

.footer__container{
    background-color: $background-color-2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer{
    color:$alternative-color;
    display:flex;
    align-items: center;
    justify-content: space-between;

}