@use"../variables/varaibles" as *;

.footer__container{
    background-color: $background-color-2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer{
    color:$acent-color-2;
    display:flex;
    align-items: center;
    justify-content: space-between;

    &__autor{

    }
    &__addres{
    }

    &__redes{

        &--link{
            transition: all 0.3s ease-in-out;
            &:hover{
            color:$black;
            }  
        }
    }

}