@use"../variables/varaibles" as *;

.header__container{
    // background-color: $background-color-2;
    background-color: $color-degrade;
}

.header{
    color:$primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;

    &__title{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap:0.5rem;

        &--logo{
            // fill:$primary-color;
            width: 4rem;
            height: 4rem;
        }
    }
    &__nav{
        display: flex;
        gap:0.8rem;  
        &--links{
            color:$primary-color;
            transition: all 0.4s ease-in-out;
            padding:5px;
            border-radius: 5px;
            &:hover{
                background-color: $background-color-2;
                color:$alternative-color;
            }
            
        }
    }
}