@use"../variables/varaibles" as *;
//-----------HERO-----------//
.hero{
    height:calc(100vh - 8rem);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/hero.jpg);
    background-position: center;
    background-size: cover;
    // .font-effect-neon{
    //     text-align: center;
    // }
    &__title{
        color:#cc0af3b0;
        font-size: 9rem;
        text-align: center;
    }
    &__description{
        color:$acent-color;
        font-size: 2rem;
        text-align: center;
    }
}

//---------Products-------//
.product__container{
    background-color: background-color-2;
    padding: 5rem 0;

}

.products{
    display:flex;
    flex-wrap: wrap;
    // justify-content:space-between;
    row-gap: 5rem;
    column-gap: 2rem;
    color:$secundary-color;
    
    
    &__subtitle{

        text-align: center;
        font-size: 5rem;
        margin-bottom:5rem;
        color:$secundary-color;
        text-decoration: underline;
        
    }
    
    .product{
        flex-basis:30%;
        display: flex;
        flex-direction:column;
        gap:3rem;
        transition: all 0.3s ease-in-out;
        padding:1rem;
        border-radius: 1rem;
        background-image: url(../../assets/avatar1.svg);
        background-repeat: no-repeat;
        background-position: 27rem 3rem;
        background-size: 7rem;

        &:hover{
            transform: scale(1.05);
            background-color: rgba($background-color-2,0.5);
            
        }
        
        &__title{
            align-items: center;
            h2{
                margin-top:2rem;
            }
            
            &__historia{
                gap:2rem;
                &--name{
                    gap:2rem;
            
                }
    
                &--text{
                    text-align:center;
                    padding:0 3rem;
                    margin-top: 10rem;
                }
            }
        }
      
    }
}

//--------info-------///

.galeria {
    
    padding: 2rem 0;
    display: flex;
    display: column;
    gap: 5rem;
    
    
  }
  .galeria__container {
    
    background-color: #eee;
    color: #111;
  }
  .galeria__left--img {
    background-image:url(../../assets/wines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rem;
    height: 30rem;
    border-radius: 10rem 0 10rem 0;
  }
  .galeria__right {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .galeria__right--text {
    width: 80%;
    font-size: 2rem;
    line-height: 2;
    color: #2d3047;
  }

  .galeria2 {
    padding: 5rem 0;
    display: flex;
    display:column;
    gap: 5rem;
  }
  .galeria2__container {
    
    background-color: #eee;
    color: #111;
  }
  .galeria2__right--img {
    background-image:url(../../assets/wine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rem;
    height: 30rem;
    border-radius: 10rem 0 10rem 0;
  }
  .galeria2__left {
    display: flex;
    justify-content: center;
    align-items: center;
    
  .galeria2__left--text {
    width: 80%;
    font-size: 2rem;
    line-height: 2;
    color: #2d3047;
  }
}
.go-top {
  position:fixed;
  bottom:10rem;
  right:2rem;
  width:7.5rem;
  height: 7.5rem;
  z-index: 999;
  display:none;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  border-radius:50%;
  padding: 1rem;
  transition: all 0.2s linear;
  background-image: url(/assets/keyboard_arrow_up_black_24dp.svg);
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    background-color:$secundary-color;
    transform: scale(0.95);
    cursor:pointer;
}
  p{
    color:$alternative-color;
    font-size:2rem;
    text-align: center;
}
 
}
