.header__container {
  background-color: background linear-gradient(to left, #1f4037, #99f2c8);
}

.header {
  color: #CFD11A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__title--logo {
  width: 4rem;
  height: 4rem;
}
.header__nav {
  display: flex;
  gap: 0.8rem;
}
.header__nav--links {
  color: #CFD11A;
  transition: all 0.4s ease-in-out;
  padding: 5px;
  border-radius: 5px;
}
.header__nav--links:hover {
  background-color: #3D0E61;
  color: #80A236;
}

.hero {
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/hero.jpg);
  background-position: center;
  background-size: cover;
}
.hero__title {
  color: #cc0af3b0;
  font-size: 9rem;
  text-align: center;
}
.hero__description {
  color: #30F2F2;
  font-size: 2rem;
  text-align: center;
}

.product__container {
  background-color: background-color-2;
  padding: 5rem 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  color: #A8BA28;
}
.products__subtitle {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
  color: #A8BA28;
  text-decoration: underline;
}
.products .product {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  border-radius: 1rem;
  background-image: url(../../assets/avatar1.svg);
  background-repeat: no-repeat;
  background-position: 27rem 3rem;
  background-size: 7rem;
}
.products .product:hover {
  transform: scale(1.05);
  background-color: rgba(61, 14, 97, 0.5);
}
.products .product__title {
  align-items: center;
}
.products .product__title h2 {
  margin-top: 2rem;
}
.products .product__title__historia {
  gap: 2rem;
}
.products .product__title__historia--name {
  gap: 2rem;
}
.products .product__title__historia--text {
  text-align: center;
  padding: 0 3rem;
  margin-top: 10rem;
}

.galeria {
  padding: 2rem 0;
  display: flex;
  display: column;
  gap: 5rem;
}

.galeria__container {
  background-color: #eee;
  color: #111;
}

.galeria__left--img {
  background-image: url(../../assets/wines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40rem;
  height: 30rem;
  border-radius: 10rem 0 10rem 0;
}

.galeria__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria__right--text {
  width: 80%;
  font-size: 2rem;
  line-height: 2;
  color: #2d3047;
}

.galeria2 {
  padding: 5rem 0;
  display: flex;
  display: column;
  gap: 5rem;
}

.galeria2__container {
  background-color: #eee;
  color: #111;
}

.galeria2__right--img {
  background-image: url(../../assets/wine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40rem;
  height: 30rem;
  border-radius: 10rem 0 10rem 0;
}

.galeria2__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.galeria2__left .galeria2__left--text {
  width: 80%;
  font-size: 2rem;
  line-height: 2;
  color: #2d3047;
}

.go-top {
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  width: 7.5rem;
  height: 7.5rem;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #150719;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.2s linear;
  background-image: url(/assets/keyboard_arrow_up_black_24dp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.go-top:hover {
  background-color: #A8BA28;
  transform: scale(0.95);
  cursor: pointer;
}
.go-top p {
  color: #80A236;
  font-size: 2rem;
  text-align: center;
}

.formulario {
  background-image: url("../../assets/barrels.jpg");
  height: 100vh;
  background-size: cover;
}
.formulario__formu {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  box-sizing: border-box;
  border: #CFD11A solid 0.5rem;
  align-items: center;
  color: #CFD11A;
  transition: all 0.3s ease-in-out;
}
.formulario__formu:hover {
  transform: scale(1.03);
  opacity: 1;
}
.formulario__formu h2 {
  font-size: 6rem;
}
.formulario__formu input {
  margin: 0.5rem;
  padding: 0.5rem;
}
.formulario__formu label {
  font-size: 3rem;
  font-weight: bold;
}
.formulario__formu textarea {
  width: 40rem;
  height: 40rem;
}
.formulario__formu--boton {
  width: 40rem;
  font-size: 2rem;
  color: #CFD11A;
  background-color: #150719;
}

.contenedor-slider {
  width: 90%;
  max-width: 90rem;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 1rem #fff, 0 1.5rem 5rem;
  position: relative;
}

.slider {
  display: flex;
  width: 700%;
  height: 40rem;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover {
  background-color: #fff;
}

.slider__btn__left {
  left: 1rem;
}

.slider__btn__right {
  right: 1rem;
}

.articulo {
  padding: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  background-color: #CFD11A;
}

.contenedor {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.contenedor__img--a, .contenedor__img--1, .contenedor__img--2, .contenedor__img--3, .contenedor__img--4, .contenedor__img--5, .contenedor__img--6, .contenedor__img--7, .contenedor__img--8, .contenedor__img--9, .contenedor__img--10, .contenedor__img--11 {
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 30rem;
  border-radius: 10rem;
  transition: all 0.3s ease-in-out;
}
.contenedor__img--a {
  background-image: url(../../assets/wines.jpg);
  background-position: -7rem 0;
}
.contenedor__img--1 {
  background-image: url(../../assets/copas.jpg);
  background-position: -4rem 0rem;
}
.contenedor__img--2 {
  background-image: url(../../assets/grapes-1659118_1920.jpg);
  background-position: -7rem 0rem;
}
.contenedor__img--3 {
  background-image: url(../../assets/barrels.jpg);
}
.contenedor__img--4 {
  background-image: url(../../assets/champagner-1071356_1920.jpg);
}
.contenedor__img--5 {
  background-image: url(../../assets/kermit-1651615_1920.jpg);
  background-position: right;
}
.contenedor__img--6 {
  background-image: url(../../assets/rose-1024710_1920.jpg);
  background-position: center;
}
.contenedor__img--7 {
  background-image: url(../../assets/wine-1.jpg);
}
.contenedor__img--8 {
  background-image: url(../../assets/wine-bottlesjpg.jpg);
}
.contenedor__img--9 {
  background-image: url(../../assets/wine.jpg);
  background-position: center;
}
.contenedor__img--10 {
  background-image: url(../../assets/uvaBlanca.jpg);
  background-position: center;
}
.contenedor__img--11 {
  background-image: url(../../assets/uvas.jpg);
  background-position: center;
}
.contenedor:hover {
  transform: scale(1.05);
  background-color: #150719;
  color: #eee;
  border-radius: 5%;
}
.contenedor p {
  margin: 0 0 2rem 2rem;
  text-align: center;
}
.contenedor__btn {
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.contenedor__btn:hover {
  background-color: #CFD11A;
}

.footer__container {
  background-color: #3D0E61;
  position: bottom;
  bottom: 0;
  width: 100%;
}

.footer {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__autor {
  display: flex;
  font-size: 2rem;
}
.footer__description {
  display: flex;
  padding: 2rem;
}
.footer__redes {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.footer__redes__link {
  transition: all 0.3s ease-in-out;
}
.footer__redes__link:hover {
  transform: scale(1.05);
}
.footer__redes__link--fc {
  background-image: url(../../assets/facebook_black_24dp.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.5rem;
  height: 5.5rem;
}
.footer__redes__link--fc:hover {
  transform: scale(1.1);
}
.footer__redes__link--ig {
  background-image: url(../../assets/instagram_black_logo_icon_147122.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}
.footer__redes__link--ig:hover {
  transform: scale(1.1);
}
.footer__redes__link--tw {
  background-image: url(../../assets/social_Twitter_38.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}
.footer__redes__link--tw:hover {
  transform: scale(1.1);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #150719;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 8rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

h2 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}