.header__container {
  background-color: #3D0E61;
}

.header {
  color: #CFD11A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__title--logo {
  width: 4rem;
  height: 4rem;
}
.header__nav {
  display: flex;
  gap: 0.8rem;
}
.header__nav--links {
  color: #CFD11A;
  transition: all 0.4s ease-in-out;
  padding: 5px;
  border-radius: 5px;
}
.header__nav--links:hover {
  background-color: #150719;
  color: #80A236;
}

.hero {
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/hero.jpg);
  background-position: center;
  background-size: cover;
}
.hero .font-effect-neon {
  text-align: center;
}
.hero__title {
  color: #cc0af3b0;
  font-size: 9rem;
  text-align: center;
}
.hero__description {
  color: #30F2F2;
  font-size: 2rem;
  text-align: center;
}

.product__container {
  background-color: background-color;
  padding: 5rem 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  color: #A8BA28;
}
.products__subtitle {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
  color: #A8BA28;
  text-decoration: underline;
}
.products .product {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  border-radius: 1rem;
}
.products .product:hover {
  transform: scale(1.05);
  background-color: rgba(61, 14, 97, 0.5);
}
.products .product__title {
  align-items: center;
}
.products .product__title h2 {
  margin-top: 2rem;
}
.products .product__title__historia {
  gap: 2rem;
}
.products .product__title__historia--name {
  gap: 2rem;
}
.products .product__title__historia--text {
  text-align: center;
  padding: 0 3rem;
  margin-top: 10rem;
}

.info {
  padding: 10rem 0;
  display: flex;
  gap: 5rem;
}

.info__container {
  background-color: #eee;
  color: #111;
}

.info__left--img {
  background-image: url(../../assets/wines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50rem;
  height: 40rem;
  border-radius: 10rem 0 10rem 0;
}

.info__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__right--text {
  width: 80%;
  font-size: 2rem;
  line-height: 2;
  color: #2d3047;
}

.go-top {
  position: fixed;
  bottom: 7.5rem;
  right: 5rem;
  width: 7.5rem;
  height: 7.5rem;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ed217c;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.go-top p {
  color: #eee;
  font-size: 2rem;
  text-align: center;
}

.go-top:hover {
  background-color: rgba(237, 33, 124, 0.5);
  transform: scale(0.95);
  cursor: pointer;
}

.footer__container {
  background-color: #3D0E61;
  position: bottom;
  bottom: 0;
  width: 100%;
}

.footer {
  color: #6ea0c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__redes--link {
  transition: all 0.3s ease-in-out;
}
.footer__redes--link:hover {
  color: #111;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #150719;
  font-family: "Sofia", sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 8rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

h2 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}