.header__container {
  background-color: #3D0E61;
}

.header {
  color: #CFD11A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__title--logo {
  width: 4rem;
  height: 4rem;
}
.header__nav {
  display: flex;
  gap: 4rem;
}
.header__nav--links {
  color: #CFD11A;
  transition: all 0.4s ease-in-out;
  padding: 5px;
  border-radius: 5px;
}
.header__nav--links:hover {
  background-color: #150719;
  color: #80A236;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__hero {
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/hero.jpg);
  background-position: center;
  background-size: contain;
}
.main__hero__title {
  color: #A8BA28;
  font-size: 8rem;
  text-align: center;
}
.main__hero__description {
  color: #30F2F2;
  font-size: 2rem;
}

.footer__container {
  background-color: #3D0E61;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  color: #6ea0c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__redes--link {
  transition: all 0.3s ease-in-out;
}
.footer__redes--link:hover {
  color: #111;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #150719;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.2rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

h2 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}